@import "../../../styles/colors";
@import "../../../styles/animation";

$size: 48px;

.header {
  width: $size;
  height: $size;
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 48;
  background-color: $fnatic-light-grey;

  .hamburger {
    &-box {
      padding: 12px;
    }

    &-inner {
      width: 24px;
      height: 2px;

      &::before {
        width: 24px;
        height: 2px;
        top: -6px;
      }

      &::after {
        width: 24px;
        height: 2px;
        bottom: -6px;
      }
    }
  }
}
