@import "./styles/reset";
@import "./styles/colors";
@import "./styles//hamburger";

html,
body {
  background-color: $fnatic-light-grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.3em;
}
